<%- include('partials/header'); %> 
    <h1>Home</h1>
    <p class="writings"><%= homeContent %> </p>
    <div class="startBlog"><h1>Blogs</h1></div>
    <% listItems.forEach((element)=> {%>
        <h3><%= element.title %> </h3>
        <div class="contents">
            <div class="content writings">
                <%= element.body.substring(0,100)+" ..." %> 
                <a href="/post/<%= element._id %> ">Read More</a>
            </div>
            <div class="delete">
                <form action="/delete" method="post">
                        <button class="btn btn-blue-grey px-4 button" name="button" value="<%= element._id %>" onchange="this.form.submit()"><i class="fas fa-minus-circle"></i></button>
                </form>
            </div>
        </div>
    <% }) %> 
<%- include('partials/footer'); %> 